// styles for HTML

.page-container{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content:center;
}

.heading {
	display: flex;
	justify-content: center;
	font-family:'Times New Roman', Times, serif;
	color:#99682d;
	font-size: 4em;
	padding-top: 1rem;
	margin-bottom: 15px;
	padding-bottom: 1rem;
}

.search{
	gap:1rem;
	display: flex;
	justify-content: center;
}
.search-input {

	width: 400px;
	height: 30px;
	padding: 5px;
	border-radius: 4px;
	outline: none;
}

.delete-image:hover{
	display: block;
}
.canvas-container{
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	gap: 0.5rem
}

#connect-form{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: auto;
	padding: 1rem 1rem 1rem 1rem;
	background-color: rgb(235, 235, 235);
	margin:0;
	border-radius: 15px;
}

#example-container{
	background-color: rgb(124, 121, 116);
}

.canvas{
	width: 80rem;
	height: 40rem;
	border-radius: 15px;
	border: 1px solid rgb(149, 149, 149);
}

.imagesToDisplay{
	height: 20rem;
	width: auto;
}

.form{
	max-width: 10rem;
	display: flex;
	flex-direction: column;
	height: 40rem;
	background-color: rgb(242, 242, 242);
	border-radius: 15px;
	border: 1px solid rgb(149, 149, 149);
}

.title-container{
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
}
.description-container{
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
}
.savebtn{
	width: 60px;
	height: 30px;
	color: rgb(0, 0, 0);
	background: #ffffff;
	border-radius: 15px;
	border: 1px solid rgb(149, 149, 149);
	cursor: pointer;
}

.color-toggle{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	align-items: center;
}

.button {
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid rgb(149, 149, 149)
}
  
#button1 {background-color: #f3edf1}
#button2 {background-color: #e2ecf4}
#button3 {background-color: #eeeeee}
#button4 {background-color: #e9e6df}
#button5 {background-color: #f1f5e7}
#button5 {background-color: white}
#button6 {background-color: black}

.instruction{
	border-radius: 15px;
	background: rgb(222, 141, 141);
	border: 2px solid rgb(255, 255, 255);
}
.instruction > p{ 
	text-align: center;
	color:#ffffff
}
.examples{
	padding: 1rem 1rem 1rem 2rem;
	margin-top: 3rem;
	background: #e4c297;
	color:#ffffff;
}
.examples > p{
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.example-images{
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.footer {
	text-align: center;
	font-size: 10px;
	background: white;
	padding: 0.15rem;
	bottom: 0;
	width:100%;
}


// styles for JS
@mixin absolute($height, $top: 0, $bottom: 0, $left: 0, $right: 0){
	position: absolute;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
	margin: auto;
	width: 100%;
	height: $height
}


.delete-image{
	display: none;
	font-size: 9px;
	cursor: pointer;
}

.element {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
    z-index: 0;
	cursor: grab;

}

img:hover + span { 
	display: block;
	cursor: pointer;
}

.btn {
	width: 60px;
	height: 30px;
	color: white;
	background: #e4c297;
	border: none;
	cursor: pointer 
}

button {
	cursor: pointer;
	border-radius: 4px;
	font-family: 'Lato', sans-serif;
}

button:hover {
	background: #afafaf;
}

button:focus {
	outline: none;
}


.github-link {
	color: #000000;
	text-decoration: none;
}